@media  screen and (min-width: 600px){
}

body{
    display: flex;
    height: 400px;
    /* max-width: 600px; */
    background-color: rgb(235, 230, 230);
    justify-content: center;
    align-items: center;
    
}
.container{
    background-color: rgb(235, 230, 230);
    /* width: 90%; */
    max-width: 600px;  
}
h1{
    text-align: center;
    margin-bottom: 1px;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adding_list{
    display:flex;   
    justify-content: center;
    align-items: center;
}
#add_input{
    border: 2px solid;
    padding: 5px;
}
    
#add{
    background-color: rgb(144, 172, 234);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
}
#add:hover{transform: scale(1.1);}

.list{
    font-family: Arial, Helvetica, sans-serif;
}
.list li {
    cursor: pointer;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.list li.completed{
    text-decoration: line-through;
}